services:
  - type: web
    name: uptodate-app
    env: static
    buildCommand: npm run build
    staticPublishPath: build
    envVars:
      - key: NODE_ENV
        value: production
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
